# excel files (for now)
~$StatusCalc Excel.xlsx

# pdf files 
*.pdf

# csvs for excel
39001_for_excel.csv

# jotter notebooks
StatusCalc.ipynb

# python libraries
lib
lib64
include
tests/__pycache__
pyvenv.cfg

# vs code
.vscode